
@model List<Book>
@{
    ViewData["Title"] = "ComparedBookList";
}

@section Styles{
    <style>
        span[class='badge'] {
            background-color: cornflowerblue;
            color: white;
        }
    </style>
}



@if (Model.Count > 0)
{
    <div class="text-center">
        <img src="@Model[0].Image" alt="Alternate Text" style="width: 150px; height: 250px; object-fit: cover;" />


        <p>
            <h4>
                <span class="badge"> Yazar: @Model[0].Author </span>
            </h4>
        </p>


        <p>
            <h4>
                <span class="badge"> Yayınevi: @Model[0].Publisher </span>
            </h4>
        </p>
    </div>



    <div class="row" style=" background-color: lavender;width:80%;margin-left:10%;">

        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <img src="@book.WebsiteLogo" alt="Website Logo" style="max-width: 200px;max-height:150px;" />
            </div>

            <div class="col-md-3">

                <h3>
                    <span class="badge badge-pill badge-secondary">
                        @(book.Price.Replace("TL", "").Replace("₺", "").Trim()) <i class='fa fa-try' aria-hidden='true'></i>
                    </span>
                </h3>
            </div>


            <div class="col-md-3">
                <a href="@book.DetailUrl" class="btn btn-primary" target="_blank"> Siteye Git </a>
            </div>

            @if (Model[0].Price == book.Price)
            {
                <div class="col-md-2">
                    <h5> <span class="badge badge-success"> En ucuz  </span> </h5>
                </div>
            }
        }

    </div>
}



